<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('partials/navigation', { menuLinks: menuLinks, activeLinkPath:
    activeLinkPath }); %>
    <main>
      <h1 class="heading">Logout</h1>
    </main>
  </body>
</html>
